# top-most EditorConfig file
root = true

[Makefile]
indent_style = tab

# Unix-style newlines with a newline ending every file
[{*.lua,*.md}]
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true

